@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

:root {
    /* colors */

    --color1      : #709dca;
    --color1_lt   : #394b50;
    --color2      : #ffc155;
    --color2_lt   : #e7ad48;
    --border_clr2 : #cb8d21;
    --t1-color    : rgb(57, 75, 80);
    --t2-color    : #062033;
    --ash         : #7b7b7b;
    --white       : #fff;

    /* fonts */

    --lato: 'Lato', sans-serif;
    --opensans: 'Open Sans', sans-serif;
    --pacifico: 'Pacifico', cursive;


    /* --color1: #ffc155; logo */
    /* --color1: #e7ad48; logo */
    /* --color1: #cb8d21; logo */
    /* --color1: #ffffff; bg */
    /* --color1: #709dca; section heading */
    /* --color1: #394b50; sub heading */
    /* --color1: #7b7b7b; paragraph */
    /* --color1: #e7ad48; btn bg */
    /* --color1: #cb8d21; btn border */
    /* --color1: #ffc560; fontawesome */
    /* --color1: #273a43; footer */
    /* --color1: #c4c4c4; footer text color */
    /* --color1: #71b6d5; footer button */
    /* --color1: #172227; footer button placeholder */
    /* --color1: #062033; footer button placeholder */
}


.fs14 {
    font-size: 14px;
}
.fs16 {
    font-size: 16px;
}
.fs26 {
    font-size: 26px;
}
.fs30 {
    font-size: 30px;
}
.fs48 {
    font-size: 48px;
}


/* Header Section Starts */

.top {
    width: auto;
    background: url("../image/hero-bg.png") no-repeat top;
    background-size: cover;
    color: var(--white);
    overflow-x: hidden;
}

.overlay {
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    height: 545px;
    /* height: 595px; */
}


#Nav .logo {
    font-family: var(--pacifico);
    color: var(--color2);
}

#Nav .icon{
    color: var(--color2);
    margin-top: 5px;
}

#Nav .icon:hover{
    color: var(--white);
}

#Nav #navbarText .nav-link {
    padding: 15px 35px;
    color: var(--white);
}

#Nav #navbarText .nav-link:hover {
    color: var(--color2);
}

.fixed-top{
    background: transparent;
    border:none !important;
}

/* .navbar-fixed-top .scrolled {
    background-color: #f4f4f4 !important;
    transition: background-color 200ms linear;
  } */


/* Side Navbar Starts */

#side-menu .close{
    background: var(--white);
    border: 2px solid var(--color2);
    /* padding: 1px 8px; */
    border-radius: 5px;
}

#side-menu .close:hover{
    border: 2px solid var(--color1);
}

#side-menu .close span{
    color: var(--color2);
    padding: 1px 8px;
}

#side-menu .close span:hover{
    color: var(--color1);
}

#side-menu .nav-link {
    color: var(--color1);
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#side-menu .nav-link:hover {
    color: var(--color2);
    font-size: 30px;
    font-weight: 800;
    padding: 8px 6px;
    margin-left: 6px;
}

/* Side Navbar Ends */

/* Header Section Ends */

/* Owl Carousel Starts */

.owl-theme .owl-nav{
    /* position: absolute; */
    /* top: 40%; */
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
    /* text-align: center; */
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav span {
    color: var(--color2);
    font-size: 35px;
    line-height: .7;
}

/* .owl-theme .owl-nav span {
    color: var(--color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.owl-theme .owl-dots {
    color: var(--white);
    margin-top: 30px;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    top: 30%;
    /* transform: translateY(-50%); */
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 2px solid var(--color1);
}

.owl-carousel .owl-nav button.owl-prev {
    left: 10%;
}

.owl-carousel .owl-nav button.owl-next {
    right: 10%;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    background: var(--color1);
    /* height: 60px; */
}

.owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    /* margin: 5px 7px; */
    background: var(--white);
    border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--white);
}

.owl-theme .owl-dots .owl-dot.active{
    width: 25px;
    height: 25px; 
    border-radius: 50%;
    border: 2px solid var(--white);
}

/* Owl Carousel Ends */

/* Banner Section Starts */

.hero .heading {
    font-family: var(--opensans);
    font-weight: 700;
    line-height: 1.2;
}

.hero .para {
    font-family: var(--opensans);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero .btn-click{
    font-size: 17px;
    font-weight: 550;
    font-family: var(--opensans);
    color: var(--white);
    background: var(--color1);   
    text-transform: uppercase;
    padding: 15px 30px;
}

.hero .btn-click:hover{
    color: var(--color1);
    background: var(--white); 
}

/* Banner Section Ends */



/* Service Section Starts */

.service{
    height: 740x;
}

.service .item{
    margin: 85px 0;
}

.service .item .heading{
    font-family: var(--opensans);
    color: var(--color1);
    font-weight: bold;
    text-transform: uppercase;
    /* padding-top: 60px; */
}

.service .para{
    font-family: var(--opensans);
    color: var(--color1_lt);
    margin-top: 10px;
}

.service .row{
    margin-bottom: 70px;
    box-sizing: border-box;
}

.service .col-5{
    display: flex;
    padding: 10px;
}

.service .col-5:hover{
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.service .heads {
    font-family: var(--lato);
    color: var(--color1_lt);
    font-weight: bold;
    text-transform: uppercase;
  }
  
.service .details {
    font-size: 13px;
    font-family: var(--opensans);
    color: var(--ash);
    line-height: 1.692;
    margin-top: 10px;
  }

/* Service Section Ends */




/* About Section Starts */

.about{
    height: 622px;
}

.about .row{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.about .col-6{
    margin: 0;
    padding: 0;
    color: var(--white);
    font-family: var(--opensans);
}

.about .container{
    background: var(--color2);
    padding: 0 165px 0 82px!important ;
    border-bottom: 3px solid white;  

    /* EXTRA BORDER IS PROVIDED */
}

.about .col-6 .img{
    margin: 0;
    padding: 0;    
}

.about .heads {
    font-weight: bold;
    text-transform: uppercase;
    margin: 92px 0 0 0;
}

.about .details {
    font-size: 13px;
    line-height: 1.846; 
    /* text-align: justify; */
    margin: 36px 0 0 0;
}

.about .btn-click {
    font-size: 14px;
    font-family: var(--lato);
    color: var(--white);
    text-transform: uppercase;
    line-height: 1.2;
    margin: 86px 0 0 0;
    background: var(--color2_lt);
    border: 2px solid var(--border_clr2);
    padding: 10px 26px;
}

.about .btn-click:hover{
    background: var(--border_clr2);
}
  
  
  
  






/* About Section Ends */
